<h1>Welcome</h1>
<p>Please Log In using the form below</p>

<%= form_tag(action="/login", method: :post) do %>
	<%= label_tag :username %>
	<%= text_field_tag :username %>
	<%= submit_tag "Log In" %>
<% end %>
