<div class="page-header"><h1>Register</h1></div>
<%= form_for set_user(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name %> :
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<%end%>